/* line 2, sass/bulk_photo_nodes_default.scss */
#bpn-multistep-form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
/* line 8, sass/bulk_photo_nodes_default.scss */
#bpn-multistep-form fieldset .fieldset-wrapper {
  padding: 0;
}
/* line 12, sass/bulk_photo_nodes_default.scss */
#bpn-multistep-form .bpn-info {
  float: left;
  width: 67%;
}
/* line 17, sass/bulk_photo_nodes_default.scss */
#bpn-multistep-form .bpn-info-bulk {
  float: right;
  width: 30%;
}
